# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
# import numpy and pandas
import pandas as pd # data manipulation
import numpy as np # funciones matem√°ticas
import scipy.stats as st
from scipy.stats import ttest_ind

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
poke = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
poke.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokeleg = poke.groupby('Legendary').get_group(True)
pokeleg.shape

(65, 13)

In [5]:
pokenleg = poke.groupby('Legendary').get_group(False)
pokenleg.shape

(735, 13)

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
# Your code here:
print ('Legendarios:', pokeleg['Total'].mean(), pokeleg['Total'].std())

Legendarios: 637.3846153846154 60.93738905315346

In [7]:
print ('No legendarios:', pokenleg['Total'].mean(), pokenleg['Total'].std())

No legendarios: 417.21360544217686 106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [8]:
# Your code here:
pokeleg = poke[poke["Legendary"]==True]["Total"]
pokenleg = poke[poke["Legendary"]==False]["Total"]

In [9]:
_, p_value = st.ttest_ind(pokeleg,pokenleg, equal_var=False)
p_value

9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

In [10]:
alpha=0.05
if p_value > alpha:
    print("We are not able to reject the null hypothesis")
else:
    print("We reject the null hypotesis")

We reject the null hypotesis

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [11]:
poke['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [12]:
# Your code here:
agua = poke[poke["Type 1"]=="Water"]
aguamean_std = agua.groupby("Type 1")["Total"].agg(["mean","std"])
aguamean_std

              mean         std
Type 1
Water   430.455357  113.188266

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [13]:
# Your code here:
nagua = poke[poke["Type 1"]!="Water"]
naguamean_std = nagua.groupby("Type 1")["Total"].agg(["mean","std"])
naguamean_std.head(3)

              mean         std
Type 1
Bug     378.927536  117.875223
Dark    445.741935  109.126217
Dragon  550.531250  146.267538

Write your conclusion below.

In [14]:
_, p_value2 = st.ttest_ind(agua, nagua, equal_var=True)
alpha= 0.05

if p_value2 > alpha:
    print("We are not able to reject the null hypothesis")
else:
    print("We reject the null hypotesis")

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [15]:
# Your code here:
_, p_value3 = st.ttest_rel(poke["Attack"], poke["Defense"])
p_value3

1.7140303479358558e-05

Describe the results of the test in the cell below.

In [16]:
# Your conclusions here:
if p_value3 > alpha:
    print("We are not able to reject the null hypothesis")
else:
    print("We reject the null hypotesis")

We reject the null hypotesis

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

Describe the results of the test in the cell below.

In [18]:
# Your code here:
_, p_value4 = st.ttest_rel(poke["Sp. Atk"], poke["Sp. Def"])


if p_value4 > alpha:
    print("We are not able to reject the null hypothesis")
else:
    print("We reject the null hypotesis")

We are not able to reject the null hypothesis

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [20]:
dife_atdf = poke["Attack"] - poke["Defense"]
_, p_value5 = st.ttest_1samp(dife_atdf, 0)
p_value5

1.7140303479358558e-05

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: